<div id="run-list">
  <h1>YOUR RUNS</h1>
  <div>
    <button>CLICK HERE TO ADD A RUN</button>
  </div>
  <ul>
    {{#each runningLog}}
    <li>{{runningLog.date}} {{runningLog.distance}}</li>
    {{/each}}
    <li>Run 1</li>
    <li>Run 2</li>
    <li>Run 3</li>
    <li>Run 4</li>
    <li>Run 5</li>
  </ul>
</div>
