<div class="run-list">
  <h2>YOUR RUNS</h2>
  <ul>
    {{#each runList}}
    <li>{{date}} {{distance}}</li>
    {{/each}}
    <li>Run 1</li>
    <li>Run 2</li>
    <li>Run 3</li>
    <li>Run 4</li>
    <li>Run 5</li>
  </ul>
</div>
