<div id="pace-calc">
  <h1>PACE CALCULATOR</h1>

  <form class="" action="/pace-calculator/calculate" method="POST">
    <label for="time">TIME:</label>
    <input type="text" name="time" placeholder="HR:MIN:SEC"><br>
    <label for="distance">DISTANCE:</label>
    <input type="text" name="distance">
    <select name="unit">
      <option>mi</option>
      <option>km</option>
    </select><br>
    <input type="submit" name="calculate" value="CALCULATE">
  </form>

  <h2>YOUR PACE: {{pace}}</h2>
</div>
