/***********LAYOUT*******************/

body {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
    max-width: 100vw;
    height: 50px;
    background: #dadfe1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lalezar', cursive;
    color: #f1c40f;
}

#logo {
  display: flex;
  align-items: center;
}

li:hover {
  cursor: pointer;
}

nav > ul {
  width: 300px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#logout {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border-style: none;
  background-color: inherit;
}
#logout:hover {
  cursor: pointer;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #dadfe1;
  text-align: center;
  font-family: 'Lalezar', cursive;
  color: #f1c40f;
}
/****************************************************/

/***************HOME*********************************/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lalezar', cursive;
  color: #007cad;
}

main > h1 {
  font-size: 70px;
}

#home-form > input {
  margin: 20px;
}

.submit-button {
  font-family: 'Lalezar', cursive;
  background-color: #dadfe1;
  color: #007cad;
  border-style: none;
  border-radius: 5px;
}

/****************************************************/

/***************INDEX********************************/

#run-list {
  width: 30%;
  height: 500px;
  margin: 0 auto;
  font-family: 'Lalezar', cursive;
}

#run-list > h1 {
  text-align: center;
  font-size: 50px;
  color: #007cad;
}

#run-list > div {
  text-align: center;
}
#run-list > div > a > button{
  text-align: center;
  font-family: 'Lalezar', cursive;
  background-color: #dadfe1;
  color: #007cad;
  border-style: none;
  border-radius: 5px;
}

/****************************************************/

/************************NEW RUN*********************/

#new-run {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  height: 500px;
}

#new-run > h1 {
  color: #007cad;
  font-family: 'Lalezar', cursive;
  text-align: center;
  font-size: 50px;
}

#new-run > form > input {
  width: 100%;
  margin: 5px;
}

#new-run > form > select {
  margin: 5px;
}

#new-run > form > textarea {
  width: 100%;
  margin: 5px;
}

#newButton {
  text-align: center;
  font-family: 'Lalezar', cursive;
  background-color: #dadfe1;
  color: #007cad;
  border-style: none;
  border-radius: 5px;
}

/****************************************************/


/****************SINGLE RUN**************************/

#show-run {
  font-family: 'Lalezar', cursive;
  width: 20%;
  height: 500px;
  margin: 0 auto;
}

#show-run > h1, #show-run > h4{
  color: #007cad;
  text-align: center;
}

#show-run > h1 {
  font-size: 50px;
  margin-bottom: -20px;
}

#edit-button {
  text-align: center;
}

#edit-button > a > button, #delete-button {
  font-family: 'Lalezar', cursive;
  background-color: #dadfe1;
  color: #007cad;
  border-style: none;
  border-radius: 5px;
}


/****************************************************/
