/***********LAYOUT*******************/

body {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
    max-width: 100vw;
    height: 50px;
    background: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lalezar', cursive;
    color: #e74c3c;
}

#logo {
  display: flex;
  align-items: center;
}

li:hover {
  cursor: pointer;
}

nav > ul {
  width: 300px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-family: 'Lalezar', cursive;
  color: #e74c3c;
}
/****************************************************/

/***************HOME*********************************/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lalezar', cursive;
  text-shadow: 2px 2px #e74c3c;
}

main > h1 {
  font-size: 70px;
}

#home-form > input {
  margin: 20px;
}

/****************************************************/

/***************INDEX********************************/

#run-list {
  width: 30%;
  height: 500px;
  margin: 0 auto;
  font-family: 'Lalezar', cursive;
}

#run-list > h1 {
  text-align: center;
  font-size: 50px;
  color: #e74c3c;
}




/****************************************************/
